.chat-container {
  height: inherit;
  display: flex;
}

.chat-list {
  width: 25%;
  height: inherit;
  border-right: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-list-item {
  width: 100%;
  padding: 0.5em;
}

.chat-messages {
  width: 75%;
  position: relative;
  overflow: auto;
}

.message-input {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.message-input > input, .message-input > button {
  padding-bottom: 1em;
  border: none;
  margin: 0;
  font-size: 1em;
}

.message-input > input {
  width: 85%;
}

.message-input > button {
  width: 15%;
}
