.login, .signup {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  width: 40%;
  text-align: center;
}

.login {
  top: 10%;
}

.signup {
  top: 5%;
}

.login > *, .signup > * {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

.login > h1, .signup > h1 {
  margin-bottom: 2em;
}

.login > button,
.login > input,
.signup > button,
.signup > input {
  width: 50%;
}
